.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.list-item-narrative
{
    float:left;
    width:100%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.x-item-selected .list-item-title 
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}

.x-checkmark-base, .x-item-selected .x-list-selected:before, .x-item-selected .x-list-selected:after, .x-field .x-input-radio:after, .x-field .x-input-checkbox:after, .x-field .x-input-radio:checked:after, .x-field .x-input-checkbox:checked:after, .checkitem:after, .checkitem.done:after {
    content: "";
    position: absolute;
    width: 0.75em;
    height: 1.25em;
    top: 50%;
    left: auto;
    -webkit-transform: rotate(45deg) skew(5deg);
    -webkit-transform-origin: 50% 50%;
    right: 1.1em;
    border: .35em solid;
    border-top: none;
    border-left: none;
    margin-top: -0.75em
}


.checkitem {
    float: right;
    width: 70px;
    height: 28px
}

.checkitem:after {
    border-color: #ddd
}

.checkitem.done:after {
    border-color: #a4df1a
}
